<h1>
  Edit bar #<%= @bar.id %>
</h1>

<hr>

<!-- Form bar start -->
<form action="/update_bar/<%= @bar.id %>" method="post">
<!-- Form bar end -->

  <!-- Label and input for address start -->
  <div class="form-group">
    <label for="address">
      Address
    </label>

    <!-- Input for address start -->
    <input type="text" id="address" name="address" class="form-control" value="<%= @bar.address %>">
    <!-- Input for address end -->
  </div>
  <!-- Label and input for address end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <!-- Input for name start -->
    <input type="text" id="name" name="name" class="form-control" value="<%= @bar.name %>">
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <!-- Label and input for yelp_link start -->
  <div class="form-group">
    <label for="yelp_link">
      Yelp link
    </label>

    <!-- Input for yelp_link start -->
    <input type="text" id="yelp_link" name="yelp_link" class="form-control" value="<%= @bar.yelp_link %>">
    <!-- Input for yelp_link end -->
  </div>
  <!-- Label and input for yelp_link end -->

  <!-- Label and input for phone_number start -->
  <div class="form-group">
    <label for="phone_number">
      Phone number
    </label>

    <!-- Input for phone_number start -->
    <input type="text" id="phone_number" name="phone_number" class="form-control" value="<%= @bar.phone_number %>">
    <!-- Input for phone_number end -->
  </div>
  <!-- Label and input for phone_number end -->

  <button class="btn btn-block btn-outline-secondary">
    Update bar
  </button>
</form>

<hr>

<a href="/bars">
  Go back
</a>
